@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    font-family: 'Nunito', sans-serif;
    background:radial-gradient(ellipse at top left, #2166b6,#2F6ED3,#478cdb,#5396E4,#5396E4,#5396E4);
    /* background: -webkit-radial-gradient(ellipse at top left  #2F6ED3,#5396E4); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white
}
main{
    background: rgba( 255, 255, 255, 0.25 );
    height:500px;
    width: 70vw;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: grid;
    
    gap:20px;
    overflow: clip;
    grid-template-areas: "log-image log-image login login"
                        "log-image  log-image login login"
                        "log-image  log-image other-login other-login";

    grid-template-columns: 1fr 1fr 2fr 2fr;    
}
.log-image{
    background: url(img/img-3.jpg) ;
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: log-image;
    position: relative;
}
.log-image::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-color:rgba(83, 150, 228,0.3); */
    z-index: 100;
}
.login{
    grid-area: login;
    padding:20px;
}
.login h1{
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-family: 'Monoton', cursive;
}
form{
    max-width: 350px;
    margin: auto;
}
input{
    width: 100%;
    border:1px rgba(51, 51, 51,0.4) solid;
    height: 35px;
    border-radius: 20px;
    padding:0 20px;
}
input:focus{
    outline:none;
    box-shadow: 0 3px 10px 0 rgba( 0,0, 0, 0.2 );
}
.signin{
    display: block;
    width: 120px;
    height: 30px;
    margin: auto;
    border: none;
    background-color: #3c76b9;
    border-radius: 20px;
    color:#f4f4f4
}
.login-info{
    padding: 2px 10px 10px 10px;
    display: flex;
}
input[type=checkbox] {
    height: 15px;
    width: 15px;
    display: inline;
  }
  .login-info label{
      display: inline;
  }
.forgot-password{
    display: block;
    font-size: 12px;
    width:100px;
    margin-left: auto;
    color:#333;
}
.other-login{
    grid-area: other-login;  
    padding-bottom: 20px;
}
.dash{
    display: inline-block;
    margin: 2px;
    display: inline-block;
    height: 0.5px;
    border: 0.5px rgba(98, 56, 153,0.4) solid;
    width: 200px;
}
.other-login-header h4{
    
    display: inline-block;
}
.other-login-header{
    width: fit-content;
    margin:auto;
}
/* .other-login div:first-child h4{
    display: flex;
} */
.card{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px 0 rgba(98, 56, 153,0.2);
    padding: 10px;
    margin: 10px;
}
.socials{
    display: flex;
    justify-content: center;
}
.social-image{
    width: 24px;
}
.other-login p{
    text-align: center;
    font-size: 13px;
}
.other-login p a{
    color: #2166b6
}